//Colours
$red: #ff0046
$purple: #b506fc
$white: #fff
$black: #141414
$grey: #666

//Fonts
$serif-font: 'Bitter', serif
$sans-font: 'Montserrat', sans-serif

//Weights
$weight-title-thick: 800
$weight-title-thin: 600
$weight-thin: 400

//Easing
$snappy-easing: cubic-bezier(.85,0,.15,1)
$slow-snappy-easing: cubic-bezier(0.75, 0, .25, 1)
$snappy-overshoot: cubic-bezier(1, -0.75, 0, 1.75)
$slow-snappy-overshoot: cubic-bezier(.7,.1,.1,1.7)

//Font Sizes
$x-large-title: 4.5em
$large-title: 4em
$large-body: 3em
$small-heading: 2.5em
$small-info: 1.5em
$tiny-text: 1.25em

//Mixins
@mixin smallScreen()
  @media( max-width: 1000px )
    @content


@mixin largeScreen()
  @media( min-width: 1500px )
    @content


%x-large-title
  font-size: $large-title
  @include smallScreen
    font-size: 4em
%large-title
  font-size: $large-title
  @include smallScreen
    font-size: 4em
%large-body
  font-size: $large-title
  @include smallScreen
    font-size: 2em
%small-heading
  font-size: $small-heading
  @include smallScreen
    font-size: 1.5em
%small-info
  font-size: $small-info
  @include smallScreen
    font-size: 1.5em
%tiny-text
  font-size: $tiny-text
  @include smallScreen
    font-size: 1.25em
