div#root
  width: 100%

  div#OuterWrapper
    // Contains literally everything - master container
    div#InnerWrapper
      // Contains the sidebar and the main page content.
      // This is transformed to reveal the full side menu.
      transform: translateY(0)
      transition: transform 0.5s ease
      // div#SidebarColumn goes here - in sidebar.sass
      div#ViewsWrapper // Provides the padding for the View container
        width: 100%
        height: 100%
        padding: 0 50px
        div#ViewsContainer
          //This is where the actual page content sits
          height: 400vh
