div.landingContainer
  height: 100vh
  width: 100%
  max-width: 200vh
  border-radius: 1rem
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center

  span
    font-weight: 400
    font-style: normal
    white-space: pre
    color: white
    clip-path: polygon(-50% -50%, 150% -50%, 150% 150%, -50% 150%)
    transition: .5s ease-out all

.playwrite
  font-family: "Playwrite CU", cursive
  font-optical-sizing: auto
.handjet
  font-family: "Handjet", sans-serif
  font-optical-sizing: auto
.baskerville
  font-family: "Baskervville SC", serif
.rocker
  font-family: "New Rocker", system-ui
.jacquard
  font-family: "Jacquard 12", system-ui