div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle h2 {
  font-size: 4em;
}
@media (max-width: 1000px) {
  div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle h2 {
    font-size: 2em;
  }
}

div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle p {
  font-size: 2.5em;
}
@media (max-width: 1000px) {
  div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle p {
    font-size: 1.5em;
  }
}

div#PortfolioContainer {
  width: 100%;
  min-height: 100vh;
}
div#PortfolioContainer div#PortfolioSectionTitle {
  width: 100%;
  margin-top: 10em;
}
div#PortfolioContainer div#PortfolioSectionTitle p {
  font-family: "Bitter", serif;
  font-size: 1.25em;
  text-align: center;
  color: #666;
  transition: opacity 1.5s ease;
  opacity: 0;
}
div#PortfolioContainer div#PortfolioSectionTitle.visible p {
  opacity: 1;
}
div#PortfolioContainer div#PortfolioGridContainer {
  padding: 10%;
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows {
  display: grid;
  grid-template-rows: 4fr 1fr 4fr 1fr;
}
@media (max-width: 1000px) {
  div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows {
    display: flex;
    flex-flow: column nowrap;
    margin: 2em 0;
  }
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns {
  cursor: pointer;
  transition: opacity 0.5s ease;
  display: grid;
  grid-template-columns: 4fr 3fr 4fr;
  width: 100%;
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns.notVisible {
  opacity: 0;
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns.visible {
  opacity: 1;
}
@media (max-width: 1000px) {
  div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns {
    padding: 2em 0;
  }
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle {
  display: none;
}
@media (max-width: 1000px) {
  div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 50%;
    min-width: 70%;
    transform: translateX(-50%);
  }
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle h2 {
  background-color: white;
  padding: 0.3em 0.3em 0;
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle h2.red {
  color: #ff0046;
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.mobileTitle h2.purple {
  color: #b506fc;
}
@media (max-width: 1000px) {
  div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns {
    display: flex;
    flex-flow: column nowrap;
  }
  div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns.leftProjContainer, div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns.rightProjContainer {
    margin: 2em 0;
  }
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns.leftProjContainer {
  grid-row: 1/2;
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns.rightProjContainer {
  grid-row: 3/4;
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.leftProj {
  grid-column: 1/2;
}
div#PortfolioContainer div#PortfolioGridContainer div.portfolioGridRows div.columns div.rightProj {
  grid-column: 3/4;
}

/*# sourceMappingURL=PortfolioContainer.css.map */
