@use '../../sass/module'

div#PortfolioContainer
  width: 100%
  min-height: 100vh
  div#PortfolioSectionTitle
    width: 100%
    margin-top: 10em
    p
      font-family: module.$serif-font
      font-style: italic
      font-size: 1.25em
      text-align: center
      color: #666
      transition: opacity 1.5s ease
      opacity: 0
    &.visible p
      opacity: 1

  div#PortfolioGridContainer
    padding: 10%
    div.portfolioGridRows
      @include module.smallScreen
        display: flex
        flex-flow: column nowrap
        margin: 2em 0
      display: grid
      grid-template-rows: 4fr 1fr 4fr 1fr
      div.columns
        cursor: pointer
        transition: opacity 0.5s ease
        &.notVisible
          opacity: 0
        &.visible
          opacity: 1
        display: grid
        grid-template-columns: 4fr 3fr 4fr
        width: 100%
        @include module.smallScreen
          padding: 2em 0
        div.mobileTitle
          @include module.smallScreen
            display: flex
            flex-flow: column nowrap
            align-items: center
            text-align: center
            font-family: module.$sans-font
            position: absolute
            left: 50%
            min-width: 70%
            transform: translateX(-50%)
          display: none
          h2
            @extend %large-body
            background-color: white
            padding: .3em .3em 0
            &.red
              color: module.$red
            &.purple
              color: module.$purple
          p
            @extend %small-heading
        @include module.smallScreen
          display: flex
          flex-flow: column nowrap
          &.leftProjContainer, &.rightProjContainer
            margin: 2em 0
        &.leftProjContainer
          grid-row: 1/2
        &.rightProjContainer
          grid-row: 3/4
        div.leftProj
          grid-column: 1/2
        div.rightProj
          grid-column: 3/4