div.columns:hover div.portfolioComponentMainContainer div.portfolioComponentBackground.black {
  background-color: #141414;
}
div.columns:hover div.portfolioComponentMainContainer div.portfolioComponentBackground.red {
  background-color: #ff0046;
}
div.columns:hover div.portfolioComponentMainContainer div.portfolioComponentBackground.purple {
  background-color: #b506fc;
}
div.columns:hover div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow div.portfolioComponentText {
  opacity: 1;
}
div.columns:hover div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow div.portfolioComponentText.left h2, div.columns:hover div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow div.portfolioComponentText.left p {
  transform: translateX(50%);
}
div.columns:hover div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow div.portfolioComponentText.right h2, div.columns:hover div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow div.portfolioComponentText.right p {
  transform: translateX(-50%);
}

div.portfolioComponentMainContainer {
  display: flex;
  min-height: 400px;
  position: relative;
}
@media (min-width: 1500px) {
  div.portfolioComponentMainContainer {
    min-height: 30vw;
  }
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  position: absolute;
  padding: 5% 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer.black {
  color: #141414;
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer.purple {
  color: #b506fc;
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer.red {
  color: #ff0046;
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow {
  width: 100%;
  display: flex;
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow.left div.portfolioComponentText h2, div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow.left p {
  transform: translateX(25%);
  text-align: left;
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow.right div.portfolioComponentText h2, div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow.right p {
  transform: translateX(-25%);
  text-align: left;
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow div.portfolioComponentText {
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  white-space: nowrap;
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow div.portfolioComponentText h2 {
  transition: transform 0.5s ease-in-out;
  font-size: 2.5em;
  font-weight: 800;
}
div.portfolioComponentMainContainer div.portfolioComponentTextContainer div.portfolioComponentTextRow div.portfolioComponentText p {
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.05s;
  font-size: 1.25em;
  font-weight: 400;
}
div.portfolioComponentMainContainer div.portfolioComponentBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.2em solid;
  transform: translate3d(-1em, 1em, 0);
  background-color: transparent;
  transition: background-color 0.5s ease;
}
div.portfolioComponentMainContainer div.portfolioComponentBackground.black {
  border-color: #141414;
}
div.portfolioComponentMainContainer div.portfolioComponentBackground.purple {
  border-color: #b506fc;
}
div.portfolioComponentMainContainer div.portfolioComponentBackground.red {
  border-color: #ff0046;
}
div.portfolioComponentMainContainer div.portfolioComponentImageContainer {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}
div.portfolioComponentMainContainer div.portfolioComponentImageContainer div.portfolioComponentImageInner {
  position: absolute;
  top: -25%;
  left: 0;
  height: 200%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease-out;
}

/*# sourceMappingURL=PortfolioComponent.css.map */
