@use '../../sass/module'

div#ViewProjectOverlayContainer
  //This bit enables the caption visibility to be toggled
  &.showCaptions
  div.carousel-root
    overflow: hidden
    width: 100%
    height: 100%
    div.carousel-slider
      width: 100%
      height: 100%
      div.slider-wrapper
        height: 100%
        width: 100%
        padding: 2em
        @include module.smallScreen
          padding: 0
        ul.slider
          position: absolute
          width: calc(100% - 4em)
          height: calc(100% - 4em)
          transition: transform 0.5s module.$slow-snappy-easing
          @include module.smallScreen
            width: 100%
            height: 100%
          li.slide
            transition: opacity 0.5s ease, transform 0.5s ease
            //Slides BEFORE the selected slide
            transform: matrix( 1, 0, 0.2, 0.8, 0, 0 )
            opacity: 0
            //THE SELECTED SLIDE
            &.selected
              opacity: 1
              transform: matrix( 1, 0, 0, 1, 0, 0 )
            //Slides AFTER the selected slide
            &.selected~.slide
              transform: matrix(1, 0, -0.2, 1.2, 0, 0 )
              opacity: 0
            height: 100%
            background-color: transparent !important
            div.slideContainer
              height: 100%
              display: flex
              flex-flow: column nowrap
              align-items: center
              justify-content: center
              img.slideImage
                max-height: 100%
                max-width: 100%
                object-fit: cover
                width: auto
      ul.control-dots
        display: none
        @include module.smallScreen
          display: unset
          width: fit-content
          left: 50%
          transform: translateX(-50%)
          background-color: white
          padding: 5px
          border-radius: 50px
          box-sizing: content-box
          .controlDot
            display: inline-block
            height: .75em
            width: .75em
            border-radius: .5em
            margin: 0 .5em
            border: 1px solid
            transition: opacity 0.5s ease, background-color 0.5s ease
            opacity: 0.75
            &.selected
              opacity: 1
            &.red
              border-color: module.$red
              &.selected
                background-color: module.$red
            &.black
              border-color: module.$black
              &.selected
                background-color: module.$black
            &.purple
              border-color: module.$purple
              &.selected
                background-color: module.$black
  div.buttonColumn
    position: absolute
    width: 5em
    height: 100%
    top: 0
    display: flex
    align-items: center
    justify-content: center
    @include module.smallScreen
      display: none
    &.right
      right: 0
      img.arrow.absolute
        left: 100%
    &.left
      left: 0
      div.arrowContainer
        transform: rotate(180deg)
    div.arrowContainer
      position: relative
      overflow: hidden
      z-index: 10
      img.arrow
        pointer-events: all
        padding: 1em
        transform: translateX(0)
        transition: transform 0.5s module.$snappy-easing, opacity 0.3s ease
        opacity: 0.5
        &.hasNext, &.hasPrev
          cursor: pointer
          opacity: 1
        &.absolute
          position: absolute
          top: 0
          left: 100%
      &:hover
        img.arrow.hasNext, img.arrow.hasPrev
          transform: translateX(-100%)
        //img.arrow.hasPrev
        //  transform: translateX(100%)