div#ViewProjectOverlayContainer {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 50px 50px 25px;
  transition: clip-path 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: column nowrap;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarProjectTitle {
  grid-column: 2/3;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarProjectTitle h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  color: #141414;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer {
  position: absolute;
  height: 3em;
  cursor: pointer;
  width: 3em;
  right: 0;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonMain {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border: 1px solid #141414;
  border-radius: 100vw;
  cursor: pointer;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonMain.purple {
  border-color: #b506fc;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonMain.red {
  border-color: #ff0046;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonMain.black {
  border-color: #141414;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonMain img#HideButtonMainImage {
  padding: 10px;
  height: 100%;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonHover {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  border: 1px solid;
  transition: clip-path 0.5s ease;
  clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonHover.purple {
  background-color: #b506fc;
  border-color: #b506fc;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonHover.red {
  background-color: #ff0046;
  border-color: #ff0046;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonHover.black {
  background-color: #141414;
  border-color: #141414;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer div#HideButtonHover img#HideButtonHoverImage {
  padding: 10px;
  height: 100%;
}
div#ViewProjectOverlayContainer div#ViewProjectOverlayTopBar div#TopBarHideButtonOuter div#HideButtonInnerContainer:hover div#HideButtonHover {
  clip-path: polygon(0 100%, 0 0%, 100% -10%, 100% 100%);
}
div#ViewProjectOverlayContainer div.caption {
  font-size: 18px;
  font-family: "Bitter", serif;
  font-color: #666;
  padding-top: 0.75em;
}
div#ViewProjectOverlayContainer div.caption span {
  display: inline-block;
}

.viewProjectOverlay-enter {
  clip-path: polygon(0 0, 0 0, 50% 0, 100% 0, 100% 0);
}

.viewProjectOverlay-enter-active {
  clip-path: polygon(0 0, 0 100%, 50% 120%, 100% 100%, 100% 0);
}

.viewProjectOverlay-exit {
  clip-path: polygon(0 -20%, 0 100%, 100% 100%, 100% -20%, 50% 0);
}

.viewProjectOverlay-exit-active {
  clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%, 50% 100%);
}

.captionTransition-enter {
  opacity: 0;
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
}

.captionTransition-enter-active {
  opacity: 1;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  transition: opacity 0.5s, clip-path 0.5s ease-in;
}

.captionTransition-exit {
  opacity: 1;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.captionTransition-exit-active {
  opacity: 0;
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
  transition: opacity 0.5s, clip-path 0.5s ease-in;
}

/*# sourceMappingURL=ViewProjectOverlay.css.map */
