div#AboutContainer div#AboutBody {
  font-size: 4em;
}
@media (max-width: 1000px) {
  div#AboutContainer div#AboutBody {
    font-size: 2em;
  }
}

div#AboutContainer {
  padding: 15em 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
@media (max-width: 1000px) {
  div#AboutContainer {
    padding: 4em 0;
  }
}
div#AboutContainer div#AboutBody {
  color: #141414;
  text-align: center;
}
div#AboutContainer div#AboutBody.visible div#AboutBodysvg svg path {
  animation: svgAnim 5s cubic-bezier(0.6, 1.4, 0.6, -0.4) both;
}
div#AboutContainer div#AboutBody div#AboutBodysvg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
div#AboutContainer div#AboutBody div#AboutBodysvg svg {
  height: 100%;
  width: 100%;
  padding: 10%;
}
div#AboutContainer div#AboutBody p {
  padding: 0.5em;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease-out;
}
div#AboutContainer div#AboutBody p.visible {
  transform: translateY(0);
  opacity: 1;
}
div#AboutContainer div#AboutBody p span.red {
  color: #ff0046;
}
div#AboutContainer div#AboutBody p span.purple {
  color: #b506fc;
}

@keyframes svgAnim {
  0% {
    stroke-dasharray: 1100;
    stroke-dashoffset: -2100;
  }
  100% {
    stroke-dasharray: 2100;
    stroke-dashoffset: 0;
  }
}
div#AboutSkills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px) {
  div#AboutSkills {
    display: flex;
    flex-flow: column nowrap;
  }
}
div#AboutSkills.visible div ul li span {
  transform: translateX(0);
  opacity: 1;
}
div#AboutSkills div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #141414;
}
@media (max-width: 1000px) {
  div#AboutSkills div {
    flex-flow: column nowrap;
  }
}
div#AboutSkills div h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: unset;
  font-size: 2.5em;
}
div#AboutSkills div ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0 3em 3em 0;
  margin: 2em 0 0 2em;
}
@media (max-width: 1000px) {
  div#AboutSkills div ul {
    padding: 0;
    margin: 1em 0 2em;
  }
}
div#AboutSkills div ul li span {
  transform: translateX(-100%);
  opacity: 0;
  display: inline-block;
  transition: transform 1s ease, opacity 0.75s ease;
  font-size: 1.5em;
  font-family: "Bitter", serif;
}
@media (max-width: 1000px) {
  div#AboutSkills div ul li span {
    transform: translateX(0);
    text-align: center;
    width: 100%;
  }
}
div#AboutSkills div#FrontEnd {
  grid-column: 1/2;
}
div#AboutSkills div#FrontEnd ul li {
  color: #ff0046;
}
div#AboutSkills div#FrontEnd ul li:nth-child(1) span {
  transition-delay: 0.5s;
}
div#AboutSkills div#FrontEnd ul li:nth-child(2) span {
  transition-delay: 0.8s;
}
div#AboutSkills div#FrontEnd ul li:nth-child(3) span {
  transition-delay: 1.1s;
}
div#AboutSkills div#FrontEnd ul li:nth-child(4) span {
  transition-delay: 1.4s;
}
div#AboutSkills div#Design {
  grid-column: 2/3;
}
div#AboutSkills div#Design ul li {
  color: #b506fc;
}
div#AboutSkills div#Design ul li:nth-child(1) span {
  transition-delay: 1.7s;
}
div#AboutSkills div#Design ul li:nth-child(2) span {
  transition-delay: 2s;
}
div#AboutSkills div#Design ul li:nth-child(3) span {
  transition-delay: 2.3s;
}

/*# sourceMappingURL=about.css.map */
