div#LandingView {
  height: calc( 100vh - 50px );
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
div#LandingView div#LandingBoldTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting svg {
  overflow: visible;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path {
  animation: letter-reveal-up 0.75s ease both;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(1) {
  animation-delay: 0s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(2) {
  animation-delay: 0.1s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(3) {
  animation-delay: 0.2s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(4) {
  animation-delay: 0.3s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(5) {
  animation-delay: 0.4s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(6) {
  animation-delay: 0.5s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(7) {
  animation-delay: 0.6s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(8) {
  animation-delay: 0.7s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleGreeting path:nth-child(9) {
  animation-delay: 0.8s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName svg {
  overflow: visible;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path {
  animation: letter-reveal-down 0.75s ease both;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(1) {
  animation-delay: 1s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(2) {
  animation-delay: 1.1s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(3) {
  animation-delay: 1.2s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(4) {
  animation-delay: 1.3s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(5) {
  animation-delay: 1.4s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(6) {
  animation-delay: 1.5s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(7) {
  animation-delay: 1.6s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(8) {
  animation-delay: 1.7s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(9) {
  animation-delay: 1.8s;
}
div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(10), div#LandingView div#LandingBoldTitle div#LandingTitleName path:nth-child(11) {
  animation-delay: 2s;
}

@keyframes letter-reveal-up {
  from {
    transform: translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes letter-reveal-down {
  from {
    transform: translateY(-100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  to {
    transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/*# sourceMappingURL=landing.css.map */
