div#LandingView {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  position: relative;
}
div#LandingView.anim-dormant div#LandingTitleGreeting, div#LandingView.anim-dormant div#LandingTitleName {
  transform: translateX(0);
}
div#LandingView.anim-dormant div#LandingTransitionRect {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
div#LandingView.anim-dormant div#LandingTransitionTitleContainer {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transform: translateX(25%);
}
div#LandingView.anim-transition div#LandingTitleGreeting, div#LandingView.anim-transition div#LandingTitleName {
  transform: translateX(100vw);
}
div#LandingView.anim-transition div#LandingTransitionRect {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
div#LandingView.anim-transition div#LandingTransitionTitleContainer {
  transform: translateX(0%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
div#LandingView.anim-final div#LandingTitleGreeting, div#LandingView.anim-final div#LandingTitleName {
  transform: translateX(100vw);
}
div#LandingView.anim-final div#LandingTransitionRect {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
div#LandingView.anim-final div#LandingTransitionTitleContainer {
  transform: translateX(0%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
div#LandingView div#LandingTransitionRect {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ff0046;
  transition: clip-path 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}
div#LandingView div#LandingTransitionTitleContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s cubic-bezier(1, -0.75, 0, 1.75), clip-path 1s cubic-bezier(0.85, 0, 0.15, 1);
}
div#LandingView div#LandingTransitionTitleContainer h1#LandingTransitionTitle {
  font-family: "Montserrat", sans-serif;
  color: #141414;
  font-size: 72px;
  transition: transform ease-out 0.3s;
}
div#LandingView div#LandingTitleContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
div#LandingView div#LandingTitleContainer div#LandingBoldTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
div#LandingView div#LandingTitleContainer div#LandingBoldTitle div#LandingTitleGreeting, div#LandingView div#LandingTitleContainer div#LandingBoldTitle div#LandingTitleName {
  transition: transform 1s ease;
}
div#LandingView div#LandingTitleContainer div#LandingBoldTitle div#LandingTitleGreeting#LandingTitleGreeting, div#LandingView div#LandingTitleContainer div#LandingBoldTitle div#LandingTitleName#LandingTitleGreeting {
  transition-delay: 0s;
}
div#LandingView div#LandingTitleContainer div#LandingBoldTitle div#LandingTitleGreeting#LandingTitleName, div#LandingView div#LandingTitleContainer div#LandingBoldTitle div#LandingTitleName#LandingTitleName {
  transition-delay: 0.05s;
}

@keyframes rect-clip-path-transition {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
}

/*# sourceMappingURL=landing.css.map */
